<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>以纯 • 纯分享 -- 路人入口</title>
    <meta name="description" content="以纯社区官方论坛是以纯工作人员与粉丝的大本营，在这里可以交流以纯的第一手资讯，了解以纯的最新动态，参与活动互动，为员工与粉丝打造一个良好的互动交流平台" />
    <meta name="keywords" content="以纯社区,纯分享,以纯论坛" />
    <link rel="stylesheet" href="__STATIC__/lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="__CSS__/main.css">
    <link rel="stylesheet" href="__STATIC__/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/index.css?v=1.01">
    <link rel="stylesheet" href="__CSS__/ueditor.css">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__STATIC__/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="__JS__/vue.js"></script>
    <script src="__STATIC__/lib/element-ui/lib/index.js"></script>

    <script src="__STATIC__/lib/ueditor_php/utf8-php/ueditor.config.js"></script>
    <script src="__STATIC__/lib/ueditor_php/utf8-php/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/lib/ueditor_php/utf8-php/lang/zh-cn/zh-cn.js"></script>
</head>

<body style="background-color: #f3f3f3;">
    <div id="app">
        <el-container>
            <el-header height="auto">
                <div class="full-head clearfix">
                    <p>
                        <a href="#" class="navbar-link color-b">登录</a> |
                        <a href="#" class="navbar-link color-b">注册</a> |
                        <a href="#" class="navbar-link color-b">忘记密码</a> |
                        <a href="#" class="navbar-link color-b">设置</a> |
                        <a href="#" class="navbar-link color-b">帮助</a> |
                        <a href="#" class="navbar-link color-b">在线人数:200</a> |
                        <a href="#" class="navbar-link color-b">消息</a> |
                        <a href="#" class="navbar-link color-b">未完成工作</a>
                    </p>
                </div>
                <!-- 导航栏，暂时不要 -->
                <nav class="navbar navbar-default bgc-pink">
                    <div class="container bgc-pink">
                        
                       
                        <div class="navbar-header ">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img alt="Brand" src="__STATIC__/images/logo.png" width="100px">
                            </a>
                        </div>

                       
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">论坛</a></li>
                                <li><a href="#">模块一</a></li>
                                <li><a href="#">模块二</a></li>
                                <li><a href="#">模块三</a></li>
                                <li><a href="#">模块四</a></li>
                            </ul>
                            <p class="navbar-text navbar-right" style="padding-right:20px;color:#FFF;"><a href="#" class="navbar-link color-b">登录</a> | <a href="#" class="navbar-link color-b">注册</a> </p>
                        </div>
                       
                    </div>
                </nav>
            </el-header>
            <div class="container" style="margin-bottom:20px;min-height: 750px;width:100%;padding:0 30px;" id="main">
                <el-container>
                    <el-aside>
                        <el-card shadow="hover" class="card-img-item" :body-style="{ backgroundColor: '#D39290'}">
                            <a href="#" class="img-hover"><img src="__STATIC__/images/banner.png" class="card-img" width="100%" height="70px"></a>
                        </el-card>
                        <el-card class="aside-item" id="urgent" :body-style="{ backgroundColor: '#ddeeff'}">
                            <div slot="header">
                                <span class="bold">重要通知</span>
                            </div>
                            <div class="activity-item">
                                <p class="color-dark"><a href="#">1.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p class="color-dark"><a href="#">2.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p class="color-dark"><a href="#">3.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                            </div> 
                        </el-card>
                        <el-card class="aside-item" id="new">
                            <div slot="header">
                                <span>最新公告栏</span>
                            </div>
                            <div class="activity-item">
                                <p><a href="#">1.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p><a href="#">2.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p><a href="#">3.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p><a href="#">4.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                            </div>
                        </el-card>
                        <el-card class="aside-item bgc-light-blue" id="hot-class">
                            <div slot="header">
                                <span>热门课程 / 项目</span>
                            </div>
                            <el-card shadow="hover" class="card-img-item">
                                <a href="#" class="img-hover"><img src="__STATIC__/images/hot1.png" class="card-img"></a>
                                <div style="padding:10px 5px 0;">
                                    <span href="#" class="hot-cord-desc">JavaScprti从入门到入土</span>
                                </div>
                            </el-card>
                            <el-card shadow="hover" class="card-img-item">
                                <a href="#" class="img-hover"><img src="__STATIC__/images/hot2.jpg" class="card-img"></a>
                                <div style="padding:10px 5px 0;">
                                    <span href="#" class="hot-cord-desc">颈椎病治疗与康复</span>
                                </div>
                            </el-card>
                        </el-card>
                    </el-aside>              
                    <el-main>
                              
                        <div class="main">
                            <el-tabs >
                                <el-tab-pane label="热门帖子" name="first">
                                    <span slot="label"><i class="el-icon-sunny"></i> 热门帖子</span>
                                </el-tab-pane>
                                <div class="search-row">
                                    <div class="input-group" style="margin-bottom:10px;">
                                        <input type="text" class="form-control" placeholder="查找主题" style="height: 43px;">
                                        <span class="input-group-btn">
                                            <button class="btn btn-light-blue" type="button" style="line-height: 29px;">
                                                <span class="glyphicon glyphicon-search"></span>
                                                搜索
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="main_wrap">
                                    <ul class="main_list">
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-row">
                                            <div class="avatar">
                                                <a href="#">
                                                    <img src="__STATIC__/images/avatar1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <p class="title" style="margin-left:10px;">
                                                    <a href="">敲黑板，划重点：秋季搭配最全汇总来了！</a>
                                                    <span class="label label-danger" style="padding-top:0.3em;">精</span>
                                                </p>
                                                <div class="auth_msg">
                                                    <a href="#">管理员</a>
                                                    <span>一分钟前</span>
                                                    <span>置顶</span>
                                                    <p class="pull-right">
                                                        <span>
                                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;66666
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <span>
                                                            <span class="glyphicon glyphicon-comment"></span>&nbsp;25
                                                        </span>   
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                    <div class="pagination">
                                        <el-pagination
                                            background
                                            layout="prev, pager, next"
                                            size="10"
                                            :total="100">
                                        </el-pagination>
                                    </div>
                                </div> 
                            </el-tabs>
                        </div>
                        <!-- 加载编辑器的容器 -->
                        <div class="edit-style clearfix">
                            <script id="myEdit" name="content" type="text/plain"></script>
                            <button class="btn btn-light-blue pull-right" style="margin:20px">确认发布</button>
                        </div>
                            
                    </el-main>
                    <el-aside>
                        <el-card class="aside-item" id="personal">
                            <div class="personal-avatar clearfix">
                                <img src="__STATIC__/images/avatar1.jpg" alt="">
                                
                                <div class="personal-desc">
                                    <p class="title">GodenWind</p>
                                    <p style="font-size:12px;"><span class="bold">个性签名：</span> 你是大千世界尘埃等闲，却是我仅有的风花雪月</p>
                                    <p style="font-size:12px;"><span class="bold">累计在线：</span> 200天</p>
                                    <p style="font-size:12px;"><span class="bold">论坛等级：</span> LV1.星星之火</p>
                                </div>
                                <div style="margin-top:25px;">
                                        
                                    <el-row :gutter="20">
                                        <el-col :span="12">
                                            <button class="btn btn-success" style="width:100%;">
                                                <i class="glyphicon glyphicon-user"></i>
                                                个人主页
                                            </button>
                                        </el-col>
                                        <el-col :span="12">
                                            <button class="btn btn-light-blue" style="width:100%;">
                                                <i class="glyphicon glyphicon-edit"></i>
                                                编辑资料
                                            </button>
                                        </el-col>
                                    </el-row>

                                    
                                </div>
                            </div>

                        </el-card>

                        <el-card class="aside-item" id="shopMsg">
                            <div slot="header">
                                <span>店铺（涉及到店铺的通知及工作）</span>
                            </div>
                            <div class="activity-item">
                                <p><a href="#">1.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p><a href="#">2.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p><a href="#">3.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                            </div>
                        </el-card>

                        <el-card class="aside-item" id="myMsg">
                            <div slot="header">
                                <span>我（关注、收藏、涉及到本人的）</span>
                            </div>
                            <div class="activity-item">
                                <p><a href="#">1.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p><a href="#">2.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                                <p><a href="#">3.抖音携手以纯共筑年轻时尚堡垒大挑战，优胜者可获终身6折购物券！！</a></p>
                            </div>
                        </el-card>
                        <el-card class="aside-item bgc-light-blue" id="hot-class">
                            <div slot="header">
                                <span>社区活动</span>
                            </div>
                            <el-card shadow="hover" class="card-img-item">
                                <a href="#" class="img-hover"><img src="__STATIC__/images/hot1.png" class="card-img"></a>
                                <div style="padding:10px 5px 0;">
                                    <span href="#" class="hot-cord-desc">签到领华为P30 pro</span>
                                </div>
                            </el-card>
                            <el-card shadow="hover" class="card-img-item">
                                <a href="#" class="img-hover"><img src="__STATIC__/images/hot2.jpg" class="card-img"></a>
                                <div style="padding:10px 5px 0;">
                                    <span href="#" class="hot-cord-desc">升级送公仔</span>
                                </div>
                            </el-card>
                        </el-card>
                        <el-card shadow="hover" class="card-img-item">
                            <a href="#" class="img-hover"><img src="__STATIC__/images/hot2.jpg" class="card-img"></a>
                            <div style="padding:10px 5px 0;">
                                <span href="#" class="hot-cord-desc">有话要说</span>
                            </div>
                        </el-card>
                    </el-aside>
                </el-container>
            </div>

            <el-container> 
                <el-footer height="auto">
                    <div class="container footer-content">
                        <p>bbs.yishion.com</p>
                        <p>京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号</p>
                    </div>
                </el-footer>
            </el-container>

        </el-container>
    </div>
</body>

</html>

<script>
    var ue = UE.getEditor('myEdit',{
        toolbars:[
            ['bold','fontsize','blockquote','forecolor','justifyleft','justifycenter','justifyright','link','unlink','simpleupload','source']
        ],
        enableAutoSave:false,
        maximumWords:5000,
        
    });

    var vm = new Vue({
        el: "#app",
        data: {

        },
        methods: {
            tabEvent(obj){
                console.log(obj.index,obj.label);
            }
        },
    });
</script>